form {
  position: relative;
  font-size: 1.2em;
  margin-top: 5%;
}


button{
  background-color: darkgrey;
  color: black;
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 3px 10px;
  left: 0;
}
output, .counter{
  position: absolute;
  top: 150%;
  font-family: "Bungee";
  top: 100px;  
}

::placeholder{
  font-style: italic;
}

.counter{
  right: 0;
  font-size: 1.1em;
}

#tweet-text {
  background: transparent;
  width: 100%;
  border: none;
  border-style: none;
  resize: none;
  outline: none;
  margin-bottom: -10px;
  border-bottom: 3px solid black;
}