form {
  position: relative;
  border-bottom: 3px solid black;
  font-size: 1.2em;
  margin-top: 5%;
}

button{
  background-color: darkgrey;
  color: black;
  border: 2px solid black;
  padding: 3px 10px;
  left: 0;
}
button, .counter{
  position: absolute;
  top: 150%;
  font-family: "Bungee";
}

::placeholder{
  font-style: italic;
}

.counter{
  right: 0;
}

#tweet-text {
  background: transparent;
  width: 100%;
  border: none;
  border-style: none;
  resize: none;
  outline: none;
  margin-bottom: -10px;
}