@media (max-width: 1024px) and (min-width: 800px) {
  .hello {
    display: flex;
    align-items: stretch;
    margin-top: 35px;
    position: relative;
    bottom: 20px;
  }
  .header {
    background-color: #f4f1ec;
    background-image: none;
    /* bottom: 35px; */
  }

  .tweeter {
    font-size: 50px;
  }

  .writeTweet {
    font-size: 30px;
  }

  nav{
    height: 120px;
  }

  .name {
    color: slategray;
  }

  nav{
    background-color: slategray;
  }

  #new-tweet {
    width: 93%;
  }
}